*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
:root {
  --bg:  rgb(232, 95, 10);
  --text: #e5e7eb;
  --bs-secondary: #e75710;
  --bs-danger:var(--bg);
}
.text-secondary{
  color: var(--bg) !important;
}
.bg-warning{
  color: var(--bg) !important;
}
.text-danger{
  color: var(--bg) !important;
}

.navbar{
    background-color: var(--bg);
}
#home{
    position: relative;
    /* height: 90vh; */
    overflow: hidden;
}
#home img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search-box {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}
.search-box input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}
.symbol{
    padding: 10px;
    color: var(--text);
    background-color: var(--bg);
}